.message {
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
}

.message__info {
    margin-left: 10px;
}

.message__timestamp {
    font-size: x-small;
    color: grey;
    margin-left:20px;
}